body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

header {
  background-color: #333;
  color: white;
  padding: 10px;
  display: flex;
  align-items: center;
}

header img {
  width: 100px;
  margin-right: 600px;
}

nav {
  background-color: rgba(255, 255, 255, 0.3);
  overflow: hidden;
}

nav a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav a:hover {
  background-color: #333;
}

main {
  padding: 20px;
  text-align: center;
}

main img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto 20px auto;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px;
  position: relative;
  bottom: 0;
  width: 100%;
  margin-top: 40px;
}

form {
  background-color: white;
  padding: 20px;
  border: 1px solid #ccc;
}

form label {
  display: block;
  margin-top: 10px;
}

form input {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
}

form button {
  margin-top: 15px;
  padding: 10px 20px;
  background-color: #333;
  color: white;
  border: none;
  cursor: pointer;
}

form button:hover {
  background-color: #555;
}

main {
  text-align: center;
}
main img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto 20px auto;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: url("Background.png") no-repeat center center fixed;
  background-size: cover;
  position: relative;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(255, 255, 255, 0.3); /* Semi-transparan putih */
  backdrop-filter: blur(3px); /* Efek blur */
  z-index: -1; /* Tetap di belakang konten */
}
